
    .contacts {
        @media screen and (min-width:$tablet) {
        // display: flex;
        margin-left: 118px;
    
       
    }

    @media screen and (min-width:$desktop) {
        margin-left: auto;
    display: flex;
       
    }
    
    
    
    .contacts__link {
        display: block;
    
        color: $--primary-text-color;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    
        &:hover,
        &:focus {
            color: $--accent-text-color;
        }
    }
    
}
.contacts__item-email{
padding-top: 24px;
margin-bottom: 4px;

font-size: 12px;
line-height: calc(16 / 12);
letter-spacing: 0.04em;


@media screen and (min-width:$desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 40px;
    margin-bottom: 0;
    
   
    font-size: 16px;
line-height: calc(24 / 16);
letter-spacing: 0.02em;
}
}

.contacts__item-tel{
    padding-bottom: 10px;

    font-size: 12px;
line-height: calc(16 / 12);
letter-spacing: 0.04em;

@media screen and (min-width:$desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
   
   
    font-size: 16px;
line-height: calc(24 / 16);
letter-spacing: 0.02em;
}
    }